
.header{
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #00008B;
      }
      
      .title{
        font-family: cursive;
        font-weight: 500;
        font-size: 1.5em;
        font-style: italic;
        border-right: 2px solid wheat;
      }

      li {
        float: left;
        cursor: pointer;
        display: block;
        text-align: center;
        padding: 16px 14px;

        font-weight: 500;
        font-size: 1.3em;
        box-sizing: border-box;

        mat-icon{
            display: inline;
            font-size: small;
        }
      }

      li:hover{
          background-color: #fff;
          color: #00008B;
      }
      
      .no-hover:hover{
        background-color: #00008B;
        color: #fff;
        cursor:initial
      }

      .active {
        background-color: #04AA6D;
      }

    width: 100%;
    
    display: inline;
    position:fixed; 
    top: 0;
    right: 0;
    
    background-color: #00008B;
    color: #fff;
    
    button{
        padding: 10px;
        font-size: 16px;        
    }

    

}