
.header{
    width: 100%;  
    display: inline;
    position:fixed; 
    top: 0;
    right: 0;
    
    background-color: #00008B;
    color: #fff;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #00008B;
      }
      
      .title{
        font-family: cursive;
        font-weight: 500;
        font-size: 1.5em;
        font-style: italic;
        border-right: 2px solid wheat;
      }

      li{
        float: left;
        cursor: pointer;
        display: block;
        text-align: center;
        padding: 16px 14px;

        font-weight: 500;
        font-size: 1.3em;
        box-sizing: border-box;

        mat-icon{
            display: inline;
            font-size: small;
        }

        li:hover{
          background-color: #fff;
          color: #00008B;
      }
      
      .no-hover:hover{
        background-color: #00008B;
        color: #fff;
        cursor:initial
      }

      .dropbtn{
        color: white;
        text-decoration: none;
        cursor: initial;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        margin-top: 16px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }

      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
    
    }
   
    .dropdown-content a:hover {background-color: #f1f1f1;}
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    

}