

  <mat-card>
    <mat-card-header>      
      <mat-card-title>{{event.type}} - {{ event.name | uppercase }}</mat-card-title>
      <mat-card-subtitle>
        Início: {{ event.startDate | date:'dd/MM/yyyy' }} |
        Fim: {{ event.endDate | date:'dd/MM/yyyy' }}
      </mat-card-subtitle>
    </mat-card-header>
    <img [src]="event.urlImage" alt="Photo of a Shiba Inu" height="200px" width="100%">
    <mat-card-content>
      <p>
        {{ event.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Atividades</button>
      <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>