<app-header></app-header>
<br><br><br>

<div class="container">

    <h2 class="container-title">Cadastrar Evento</h2>

    <form #eventForm="ngForm" class="example-form" autocomplete="off" 
        (submit)="onSubmit(eventForm)">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nome</mat-label>
            <input [(ngModel)]="event.name" matInput placeholder="Ex.: Arte no século XXI" 
                name="name" required>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Imagem do evento (link)</mat-label>
            <input [(ngModel)]="event.urlImage" matInput placeholder="Ex.: http://www.imagem.com/teste.png" 
                name="urlImage" required>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Descrição</mat-label>
            <textarea [(ngModel)]="event.description" matInput placeholder="Ex. Esse evento descreve..."
                name="description" required></textarea>
        </mat-form-field>

        <div class="container-flex-child">
            <mat-form-field appearance="fill" class="example-form-field">
                <mat-label>Data de início</mat-label>
                <input [(ngModel)]="event.startDate" matInput [matDatepicker]="datepickerStart"
                    name="startDate" required>
                <mat-datepicker-toggle matSuffix [for]="datepickerStart">  
                </mat-datepicker-toggle>
                <mat-datepicker #datepickerStart>
                    <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancelar</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Selecionar</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill" class="example-form-field">
                <mat-label>Data de encerramento</mat-label>
                <input [(ngModel)]="event.endDate" matInput [matDatepicker]="datepickerEnd" 
                    name="endDate" required>
                <mat-datepicker-toggle matSuffix [for]="datepickerEnd">
                </mat-datepicker-toggle>
                <mat-datepicker #datepickerEnd>
                    <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>
        </div>

        <div class="container-flex-child-button">
            <button routerLink="/events" mat-raised-button color="warn">Cancelar</button>
            <button mat-raised-button color="primary" 
                [disabled]="eventForm.invalid">Salvar</button>            
        </div>
    </form>
</div>