.container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  
  table {
    border-collapse: collapse;
    width: 100%;
    
    th, td{
      padding: 8px;
      text-align: left;
      font-size: 1.2em;
      border-bottom: 1px solid #ddd;
    }

    .icon-button{
      font-size: small;
      margin: 0 5px;
    }
  }
}