
<div class="container">
  <table>
    <tr>
      <th>ID</th>
      <th>NOME</th>
      <th>E-MAIL</th>
      <th>PERFIL</th>
      <th>AÇÕES</th>
    </tr>
    <tr *ngFor="let user of usersList">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.profile }}</td>
      <td>
        <button [routerLink]="['/users/edit', user.id]" class="icon-button" mat-mini-fab color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="delete(user.id)" class="icon-button" 
            mat-mini-fab color="primary">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
    
  </table>
</div>