.container-title{
    font-size: 2em;
    font-family: cursive;
    color: #00008B;
    text-align: center;
    margin-top: 20px;
  }

  .search{    

    .search-input{
      margin: 0 65px;
      
      input[type=text]{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
    }
  }