<app-header></app-header>
<br><br><br>

<div class="container">

    <h2 class="container-title">Cadastro de Usuário</h2>

    <form *ngIf="userEdit"  [formGroup]="userEdit" class="example-form" autocomplete="off"
        (submit)="onSubmit(this.userEdit)">

        <input type="hidden" formControlName="id" name="id">

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nome</mat-label>
            <input formControlName="name" matInput placeholder="Ex.: João ..." 
                name="name" required>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input formControlName="email" matInput placeholder="Ex.: meuemail@gmail.com" 
                name="email" required>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input type="password" formControlName="password" matInput placeholder="Ex.: ******" 
                name="email" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-select">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="profile" name="profile" required>
              <mat-option *ngFor="let profile of userPofiles" [value]="profile">
                {{profile}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="container-flex-child-button">
            <button routerLink="/events" mat-raised-button color="warn">Cancelar</button>
            <button mat-raised-button color="primary" 
                [disabled]="userEdit.invalid">Salvar</button>
        </div>
    </form>
</div>